:root{
  --section-bg-1:#fcf1e3;
  --section-point-1:#e8492a;
  --section-bg-2:#ddc6b6;
  --section-point-2:#b87334;
  --section-bg-3:#d0d8c3;
  --section-point-3:#014421;
  --section-bg-4:#dad8d2;
  --section-point-4:#262223;
}
body {font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; background-color: #f0f0f0; margin: 0; overflow: unset;}
.fixed-header {position: fixed; top: 8vh; left: 50%; transform: translateX(-50%); z-index: 1000;}
.fixed-header:before{position: absolute; left: 50%; transform: translateX(-50%); content: ''; width: 69px; height: 69px; background-color: #262223; border-radius: 50px; transition: width 1s cubic-bezier(0.9, -0.4, 0.32, 1.6), background 1s;}
.fixed-header.loaded:before{width: 100%;}
.gnb {display: flex; align-items: center; background-color: #262223; padding: 10px 15px; border-radius: 50px; box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); opacity: 0; transition: 1s;}
.logo {padding: 0 15px; margin-right: 20px; color: #ddc6b6; text-decoration: none; font-weight: bold; font-size: 18px; z-index: 1;}
.nav-links {position: relative; display: flex; list-style: none; margin: 0; padding: 0;}
.nav-links li {cursor: pointer;}
.nav-links li a {display: block; padding: 15px 30px; text-decoration: none; color: #ddc6b6; font-weight: 500; font-size: 16px; position: relative; z-index: 2; transition: color 0.3s ease-in-out;}
.nav-links li.active a {color: #262223;}
.highlighter {position: absolute; top: 0; left: 0; height: 100%; background-color: #ddc6b6; border-radius: 40px; z-index: 1; transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);}
.contents-wrap {width: 90%; max-width: 1200px; height: 90vh; margin: 5vh auto 0; overflow-y: scroll; scroll-behavior: smooth; position: relative; scrollbar-width: none; border: 2px solid #262223; border-radius: 50px; box-shadow: 0 0 20px 10px #00000022;}
.contents-wrap::-webkit-scrollbar {display: none;}
.contents-wrap section {height: 100%; display: flex; justify-content: center; align-items: center; flex-shrink: 0;}
.contents-wrap section:last-child {border-bottom: none;}
.contents-wrap section h1 {font-size: 5rem; color: #333;}

.fixed-header.work:before,
.work .gnb{background-color: var(--section-point-1);}
.fixed-header.services:before,
.services .gnb{background-color: var(--section-point-2);}
.fixed-header.blog:before,
.blog .gnb{background-color: var(--section-point-3);}
.fixed-header.contact:before,
.contact .gnb{background-color: var(--section-point-4);}
.work .logo,
.work .nav-links li a{color: var(--section-bg-1);}
.services .logo,
.services .nav-links li a{color: var(--section-bg-2);}
.blog .logo,
.blog .nav-links li a{color: var(--section-bg-3);}
.contact .logo,
.contact .nav-links li a{color: var(--section-bg-4);}
#work,
.work .highlighter{background-color: var(--section-bg-1);}
#work h1,
.work .nav-links li.active a{color: var(--section-point-1);}
#services,
.services .highlighter{background-color: var(--section-bg-2);}
#services h1,
.services .nav-links li.active a{color: var(--section-point-2);}
#blog,
.blog .highlighter {background-color: var(--section-bg-3);}
#blog h1,
.blog .nav-links li.active a{color: var(--section-point-3);}
#contact,
.contact .highlighter{background-color: var(--section-bg-4);}
#contact h1,
.contact .nav-links li.active a{color: var(--section-point-4);}
.work.contents-wrap{border-color: var(--section-point-1);}
.services.contents-wrap{border-color: var(--section-point-2);}
.blog.contents-wrap{border-color: var(--section-point-3);}
.contact.contents-wrap{border-color: var(--section-point-4);}

#blog{position: relative; flex-direction: column; gap: 50px;}
#blog .posts-grid{display: block; width: 95%; padding-bottom: 20px; white-space: nowrap; overflow-x: scroll;}
#blog .posts-grid .post-card{display: inline-block; width: 300px; margin-right: 30px; padding: 20px; border: 2px solid var(--section-point-3); border-radius: 15px; vertical-align: top;}
#blog .posts-grid .post-card .post-preview{height: 140px; margin-top: 15px; white-space: normal;}
#blog .modal-overlay{position: absolute; display: flex; justify-content: center; align-items: center; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.2);}
#blog .modal-overlay .read-modal{position: relative; width: 80%; max-width: 500px; background-color: var(--section-bg-3); height: 50%; padding: 30px; border-radius: 15px; overflow-y: scroll;}
#blog .modal-overlay .read-modal::-webkit-scrollbar-track{background-color:transparent;}
#blog .modal-overlay .read-modal::-webkit-scrollbar-thumb{background-color:var(--section-point-3); border: 5px solid transparent; border-radius:8px; background-clip: padding-box;}
#blog .modal-overlay .read-modal::-webkit-scrollbar{width:15px;}
#blog .modal-overlay .read-modal .content{}
#blog .modal-overlay .read-modal .close-btn{position: absolute; top: 5px; right: 5px; border: 0; background-color: transparent; font-size: 30px;}



@media (max-width: 768px) {
  .contents-wrap{border-radius: 25px;}
  .fixed-header:before {display: none;}
  .logo {padding: 10px; margin-right: 10px; font-size: 14px;}
  .nav-links {}
  .nav-links.active {height: 100%;}
  .nav-links li a {padding: 5px 10px; font-size: 12px;}
  .nav-links li.active a{color: #fff;}
}